@page "/{alias}"
@inject IGlobalWebService GlobalWebService;
@inject IUserWebService UserWebService;
@inject UserAuthenticationStateProvider AuthStateProvider;

<Banner></Banner>

<section class="bg-dark position-relative" style="padding-bottom: 96px;">
    <article class="container">
        <div class="row">
            <div class="col">
                <PersonalInfo Alias="@(Alias)"></PersonalInfo>
            </div>
        </div>
    </article>
    <article class="position-absolute bottom-0 w-100" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-59.59,56.59 C228.21,229.81 -91.19,19.19 571.33,108.75 L500.00,149.60 L-1.46,151.07 Z" style="stroke: none; fill: #1A1C1D;"></path>
        </svg>
    </article>
</section>

<section class="text-white position-relative" style="padding-bottom: 96px; background:#1A1C1D;">
    <article class="container">
        <div id="tecnologías" class="row" style="padding-top: 72px;">
            @*ASIDE*@
            <article class="col-3 d-flex flex-column justify-content-center row-gap-4">
                <div class="card text-bg-dark" style="height: 18.75%;">
                    <img src="paisaje1.jpg" class="card-img object-fit-cover h-100" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <h3 class="card-title">Mi CV</h3>
                    </div>
                </div>
                <div class="card text-bg-dark" style="height: 18.75%;">
                    <img src="paisaje2.jpg" class="card-img object-fit-cover h-100" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <h3 class="card-title">Mi GitHub</h3>
                    </div>
                </div>
                <div class="card text-bg-dark" style="height: 25%;">
                    <img src="paisaje3.jpg" class="card-img object-fit-cover h-100" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center">
                        <h3 class="card-title">Mis Certificaciones</h3>
                    </div>
                </div>
                <div class="card text-bg-dark" style="height: 37.5%;">
                    <img src="paisaje4.jpg" class="card-img object-fit-cover h-100" alt="...">
                    <div class="card-img-overlay d-flex justify-content-center align-items-center" style="height: 404px;">
                        <h3 class="card-title">Mis Colegas</h3>
                    </div>
                </div>
            </article>
            @*MAIN*@
            <article class="col-9 ps-5">
                <Skills Alias="@(Alias)"></Skills>
                <Experiences Alias="@(Alias)"></Experiences>
                <Educations Alias="@(Alias)"></Educations>
            </article>
        </div>
    </article>
</section>


<div class="bg-projects">
    <div class="container">
        <section id="proyectos" class="row" style="padding-top: 120px;">
            <article class="col">
                <Projects Alias="@(Alias)"></Projects>
            </article>
        </section>
    </div>
</div>

@code {
    [Parameter]
    public string Alias { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;

        if (string.IsNullOrEmpty(AuthStateProvider.CurrentRole))
        {
            return;
        }

        if (AuthStateProvider.CurrentRole.Equals("Admin"))
        {
            if (!AuthStateProvider.CurrentAlias.Equals(Alias))
            {
                var user = await UserWebService.GetByAliasAsync(Alias);
                GlobalWebService.UserId = user.Id;
            }
            else
            {
                GlobalWebService.UserId = AuthStateProvider.CurrentUserId;
            }
        }
        else
        {
            if (AuthStateProvider.CurrentAlias.Equals(Alias))
            {
                GlobalWebService.UserId = AuthStateProvider.CurrentUserId;
            }
        }
    }
}
