@page "/{alias}"
@inject IGlobalWebService GlobalWebService;
@inject IUserWebService UserWebService;
@inject UserAuthenticationStateProvider AuthStateProvider;

<PersonalInfo Alias="@(Alias)"></PersonalInfo>
<section class="container">
    <article class="row">
        <div class="col-4">

        </div>
        <div class="col-8">
            <Skills Alias="@(Alias)"></Skills>
            <Experiences Alias="@(Alias)"></Experiences>
            <Educations Alias="@(Alias)"></Educations>
        </div>
    </article>
</section>

<Projects Alias="@(Alias)"></Projects>

@code {
    [Parameter]
    public string Alias { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;

        if (string.IsNullOrEmpty(AuthStateProvider.CurrentRole))
        {
            return;
        }

        if (AuthStateProvider.CurrentRole.Equals("Admin"))
        {
            if (!AuthStateProvider.CurrentAlias.Equals(Alias))
            {
                var user = await UserWebService.GetByAliasAsync(Alias);
                GlobalWebService.UserId = user.Id;
            }
            else
            {
                GlobalWebService.UserId = AuthStateProvider.CurrentUserId;
            }
        }
        else
        {
            if (AuthStateProvider.CurrentAlias.Equals(Alias))
            {
                GlobalWebService.UserId = AuthStateProvider.CurrentUserId;
            }
        }
    }
}
