@inject IEducationWebService EducationWebService;

<section id="estudios" class="educations" style="padding-top: 96px;">
    <article class="d-flex flex-column row-gap-4">
        <div class="position-relative">
            <h2 class="text-center text-sm-start mb-0">Estudios Académicos</h2>
            <AuthorizeView Policy="AliasPolicy" Resource=@(Alias)>
                <Authorized>
                    <div class="position-absolute top-0 end-0">
                        <button class="add btn btn-primary rounded-circle p-2" style="background: #1B5DC2;" data-bs-toggle="modal" data-bs-target="#addEducation">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </button>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="overflow-y-auto overflow-x-hidden" style="height: 300px;">
            @foreach (var educ in _educationsList)
            {
                <div class="row">
                    <div class="logo col-3 col-md-2 ps-0 position-relative">
                        <img class="object-fit-cover rounded-circle position-absolute top-0 start-50 translate-middle-x" style="width: 70px; height: 70px;" src="unc.jpg" alt="Logo">
                    </div>
                    <div class="position-relative col-9 col-md-10 pe-0">
                        <h4 class="instituteName w-50 text-break">@(educ.Name)</h4>
                        <h4 class="career">@(educ.Career)</h4>
                        <h6 class="period">@(educ.StartDate.Date)-@(educ.FinishDate.Date)</h6>
                        <p class="description" style="max-width:576px">@(educ.Description)</p>
                        <AuthorizeView Policy="AliasPolicy" Resource=@(Alias)>
                            <Authorized>
                                <div class="position-absolute top-0 end-0" style="margin-right: 18px;">
                                    <button class="edit btn btn-primary rounded-circle p-2" style="background: #1B5DC2;" data-bs-toggle="modal" data-bs-target="#editEducation" @onclick="() => EditEducationSelected(educ)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </button>
                                    <button class="delete btn btn-primary rounded-circle p-2" style="background: #1B5DC2;" data-bs-toggle="modal" data-bs-target="#removeEducation" @onclick="() => RemoveEducationSelected(educ.Id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                        </svg>
                                    </button>
                                </div>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </div>
            }
        </div>
    </article>
</section>

<CreateEducation Alias="@(Alias)" OnClick="UpdateEducationsList"></CreateEducation>
<EditEducation Alias="@(Alias)" OnClick="UpdateEducationsList" @ref="EditEducationRef"></EditEducation>
<RemoveEducation Alias="@(Alias)" OnClick="UpdateEducationsList" @ref="RemoveEducationRef"></RemoveEducation>

@code {
    [Parameter]
    public string Alias { get; set; }

    public List<EducationDTO> _educationsList = new List<EducationDTO>();

    public EditEducation EditEducationRef; //Es una referencia al componente EditEducation
    public RemoveEducation RemoveEducationRef; //Es una referencia al componente RemoveEducation

    protected override async Task OnInitializedAsync()
    {
        _educationsList = await EducationWebService.GetAllInDescOrderAsync(Alias);
    }

    private async Task UpdateEducationsList(List<EducationDTO> educationsList)
    {
        _educationsList = educationsList;
        await Task.CompletedTask;
    }

    private async Task EditEducationSelected(EducationDTO educationDTO)
    {
        await EditEducationRef.GetEducationSelected(educationDTO);
    }

    private async Task RemoveEducationSelected(int educationId)
    {
        await RemoveEducationRef.GetEducationSelected(educationId);
    }
}

